<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>eShop</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
  <header class="header">
    <div class="container">
      <form class="search-form" v-on:submit.prevent="onSubmit">
        <input type="text" class="search-input" v-model="searchLine">
        <button class="search-button" @click="filters">Искать</button>
      </form>
      <div class="cart-block">
        <button class="cart-button" @click="showCart(itemCart)">Корзина</button>
        <div class="cart" v-show="visibility">
          <div class="empty" v-if="itemCart.products.length === 0">Ваша корзина пуста. Скорее приступайте к покупкам!</div>
          <div class="cart-item" v-else v-for="good in itemCart.products">
            <h3 class="good_title">{{ good.product_name }}</h3>
            <p class="good_price">{{ good.price }}</p>
            <button class="goods-dec" @click="decCount(good)">-</button>
            <span class="goods-count">{{ good.count }}</span>
            <button class="goods-inc" @click="incCount(good)">+</button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="goods-list">
      <div v-if="filteredGoods.length === 0 ">Нет данных.</div>
      <div class="goods-item" v-else v-for="good in filteredGoods" :key="good.id_product">
        <h3 class="good_title">{{ good.product_name }}</h3>
        <p class="good_price">{{ good.price }}</p>
        <button class="goods-button" @click="addProduct(good)">Купить</button>
      </div>
    </div>
  </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="main.js"></script>
</body>
</html>
