.chat-window {
    position: fixed;
    top: 35%;
    left: 50px;
    width: 300px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    height: 400px;
    z-index: 10;
    box-sizing: border-box;
}

.top-line {
    position: relative;
    height: 75px;
    background: #211e1d;
    display: flex;
    border-radius: 8px 35px 0 0;
}
.user-icon {
    position: absolute;
    background: #c0c0c0;
    border-radius: 50%;
    top: 15px;
    left: 15px;
}
.text-container {
    position: absolute;
    top: 17px;
    left: 75px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
}
.main-chat-window {
    height: 250px;
}
.message-container {
    height: 75px;
    background: #c0c0c0;
    position: relative;
}
.message-box {
    resize: none;
    position: absolute;
    border: 1px solid green;
    border-radius: 3px;
    top: 10px;
    left: 10px;
}